/* ......home-responsive...... */
@media only screen and (max-width: 977px) {
    .name {
        font-family: 'Varela Round', sans-serif;
    }

    .navlist {
        align-items: center;
        flex-direction: column;
     
    }

    .navlist li a{
        font-size: 25px;
        flex-direction: column;
        font-family: 'Jost', sans-serif;
        color: var(--white);
    }

    .navbar {
        transition: all 0.4s ease-out;
        height: 430px;
        flex-direction: column;
        background-image: linear-gradient(to left, rgba(255, 47, 168, 0.498), rgba(255, 62, 175, 0.292));
    }

    .rightnav {
        margin: auto;
    }

    .burger {
        display: block;
        cursor: pointer;
        position: absolute;
        margin: 10px;
        right: -1px;
    }

    .h-nav-resp {
        height: 70px;
    }

    .v-class-resp {
        opacity: 0; 
    }
}

@media only screen and (max-width: 550px){
    .rightnav {
        /* border: 2px solid yellow; */
        width: 45%;
        text-align: center;
    }
}

@media only screen and (max-width: 450px){
    .rightnav {
        /* border: 2px solid yellow; */
        width: 35%;
        text-align: center;
    }
}


@media only screen and (max-width: 950px) {
    .home-about{
      flex-direction: column;
}
}

@media only screen and (max-width: 600px)
{
    .home-about .image {
        flex: 1 1 24rem !important;
        padding: 2rem;
    }
}

/* package */

@media only screen and (max-width: 800px){
    .home-package .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
        gap: 3rem;
        margin: 5rem;
    }
    
}

